body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #333;
    color: white;
}

body.dark h2 {
    color: #5DA9E9;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.title h1, .title h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.title h2 {
    color: #006EB6;
}

p {
    margin-bottom: 15px;
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 20px;
}
